<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .PageTitle }} - mediaX</title>
    <meta name="author" content="ATP">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1a1c1b" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
      {{ template "header" . }}
      {{ block "main" . }}{{ end }}
      {{ template "footer" . }}
  </body>
</html>