{{ define "main" }}
{{ $showBadge := false }}
{{ if eq .QueryType "all" }}
{{ $showBadge = true }}
{{ end }}
<main>
    <div class="page-title">{{ .PageTitle }} ({{ .TotalCount }})</div>
    <ul class="subject-list">
        {{ range .Subjects }}
        <li class="subject-list-item">
            <div class="subject-list-cover search-cover">
                {{ if $showBadge }}
                <span class="item-badge search-badge {{ .SubjectType }}"></span>
                {{ end }}
                <a href="{{ .SubjectURL }}"><img class="subject-list-image" src="{{ .ImageURL }}" alt="{{ .Title }}" loading="lazy"></a>
            </div>
            <div class="subject-list-info">
                <h3 class="subject-list-title">
                    <a href="{{ .SubjectURL }}">{{ .Title }}</a>
                    {{ with .AltTitle }}
                    <span class="note-color subject-list-alttitle">{{ . }}</span>
                    {{ end }}
                </h3>
                {{ if .Creator }}
                <p class="subject-list-pub"><label>{{ .CreatorLabel }}:</label>{{ .Creator }}</p>
                {{ end }}
                {{ if .PubDate }}
                <p><label>{{ .PubDateLabel }}:</label>{{ .PubDate }}</p>
                {{ end }}
                <p class="note-color">
                    {{ if eq .Rating 0 }}
                    <i>暂未评分</i>
                    {{ else }}
                    {{ $star := div (mul .Rating 10) 2 }}
                    <span class="rating-star-{{ $star }} rating-block note-color"></span>
                    {{ end }}
                </p>
                <p>{{ .MarkDate }} {{ .StatusText }}</p>
            </div>
        </li>
        {{ end }}
    </ul>

    {{ if gt .TotalPages 1 }}
    <div class="pagination">
        {{ if gt .CurrentPage 1 }}
        <a href="?q={{ .Query }}&subject_type={{ .QueryType }}&page={{ sub .CurrentPage 1 }}" aria-label="Previous">
            <span>上一页</span>
        </a>
        {{ else }}
        <span class="pagination-disable">上一页</span>
        {{ end }}

        <span class="pagination-number">{{ .CurrentPage }} / {{ if ne .CurrentPage .TotalPages }}<a href="?q={{ .Query }}&subject_type={{ .QueryType }}&page={{ .TotalPages }}" class="no-color">{{ .TotalPages }}</a>{{ else }}{{ .TotalPages }}{{ end }}</span>

        {{ if lt .CurrentPage .TotalPages }}
        <a href="?q={{ .Query }}&subject_type={{ .QueryType }}&page={{ add .CurrentPage 1 }}" aria-label="Next">
            <span>下一页</span>
        </a>
        {{ else }}
        <span class="pagination-disable">下一页</span>
        {{ end }}
    </div>
    {{ end }}
</main>
{{ end }}